<!--
  Generated template for the AddFamilyMemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isupdate">Add Family Member</ion-title>
    <ion-title *ngIf="isupdate">Update Family Member</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form >
    <ion-list>
      <ion-item>
        <ion-label fixed>{{ 'Realtionship' }}</ion-label>
        <!-- <ion-input  type="text" [(ngModel)]="account.relation" name="relation"></ion-input> -->
        <ion-select [(ngModel)]="account.relation" name="relation"  style="max-width: 100% !important;" >  
      
          <ion-option *ngFor="let list of relation" value="{{list.ConfigVal}}">{{list.ConfigDisplayVal}}</ion-option>
         
          </ion-select>
        
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'Title' }}</ion-label>
        <!-- <ion-input  type="text" [(ngModel)]="account.relation" name="relation"></ion-input> -->
        <ion-select (ionChange)="onChangeNametitle($event)" [(ngModel)]="account.nametitle" name="nametitle"  style="max-width: 100% !important;" >  
      
          <ion-option *ngFor="let list of nametitle" value="{{list.ConfigVal}}">{{list.ConfigDisplayVal}}</ion-option>
         
          </ion-select>
        
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'Name' }}</ion-label>
        <ion-input   type="text" [(ngModel)]="account.username" name="username"></ion-input>
        
      </ion-item>


      <ion-item>
        <ion-label fixed>{{ 'Email' }}</ion-label>
        <ion-input   type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'Phone'  }}</ion-label>
        <ion-input   type="number" [(ngModel)]="account.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'Nakshatra' }}</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="account.nakshatra" name="nakshatra"></ion-input> -->
       
        <ion-select [(ngModel)]="account.nakshatra" name="nakshatra" (ionChange)="nakshatraChange(account.nakshatra)"  style="max-width: 100% !important;"   >  
      
          <ion-option *ngFor="let list of Nakshatra" value="{{list.ConfigVal}}">{{list.ConfigDisplayVal}}</ion-option>
         
          </ion-select>
        
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'Rashi' }}</ion-label>{{account.rashi}}
        <!-- <ion-input type="text" [(ngModel)]="account.rashi" name="rashi"></ion-input> -->
        <ion-select [(ngModel)]="account.rashi" name="rashi"  style="max-width: 100% !important;" >  
      
          <ion-option *ngFor="let list of Rashi" value="{{list.ConfigVal}}">{{list.ConfigDisplayVal}}</ion-option>
         
          </ion-select>
        
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'Gotra' }}</ion-label>
      
        <ion-input type="text" [(ngModel)]="account.gotra" name="gotra"></ion-input>
        
      </ion-item>
      <ion-item>
        <ion-label  fixed>Gender</ion-label>
        <ion-select style="max-width: 100% !important;" [(ngModel)]="account.gender" name="gender" >
          <ion-option value="Female">Female</ion-option>
          <ion-option value="Male">Male</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label  fixed>{{ 'BirthDate' }}</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="account.birthdate" name="birthdate"></ion-input> -->
       
        <ion-datetime   displayFormat="MM/DD/YYYY" [(ngModel)]="account.birthdate" name="birthdate" min="1870-03-14"  value="2002-09-23T15:03:46.789"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label style=" width: unset !important; max-width: 107px !important; " >{{ 'Marriage Date' }}</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="account.marriagedate" name="marriagedate"></ion-input> -->
        <ion-datetime  displayFormat="MM/DD/YYYY" [(ngModel)]="account.marriagedate" name="marriagedate" min="1890-03-14"  value="2002-09-23T15:03:46.789"></ion-datetime>
        
      </ion-item>
      <ion-item *ngIf="isHeavenly">
        <ion-label style=" width: unset !important; max-width: 107px !important; ">{{ 'Death Date' }}</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="account.marriagedate" name="marriagedate"></ion-input> -->
        <ion-datetime   displayFormat="MM/DD/YYYY" [(ngModel)]="account.deathdate" name="deathdate" min="1850-03-14"  ></ion-datetime>
        
      </ion-item>
      <!-- <div padding>
        <button ion-button class='buttoncolor' block>UPDATE</button>
      </div> -->

    </ion-list>
  </form>
</ion-content>

<ion-footer class="adminfooter" style="bottom: 56px;text-align: center;background-color: var(--color);font-weight: bold;font-size: 15px;/* color: white; */">
  <ion-toolbar *ngIf="!isupdate" (click)="addfamliyMamber()">        
        Save
  </ion-toolbar>
  <ion-toolbar *ngIf="isupdate" (click)="updatefamliyMamber()">        
    Update
</ion-toolbar>
</ion-footer>
