page-login {
    div{
       
        position: absolute;
        bottom: 50%;
        width: 97%;
    }
}
$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

.content-md,.item-md {
    color: #000;
   // background-color: #0ccec4;
  }
  .loginhead{
    font-size: 114px;
    color:var(--color);
  }
  .googlebtn ion-icon.icon.icon-md.ion-logo-googleplus {
    font-size: 3.8rem;
    color: #FF3E30;
    }
    .buttoncolor.fbbtn ion-icon.icon.icon-md.ion-logo-facebook {
        font-size: 3.8rem;
        color: #3b5998;
        }
  .buttoncolor.googlebtn,.buttoncolor.fbbtn{
      box-shadow: unset;
      background-color: transparent;
      border: 1px solid;
  }
 .buttoncolor{
    color: #000000;
    background-color: #10847e;
  }
ion-row {
    height: $height100;
}
ion-content ion-grid {
    background: transparent;
}

ion-col {
    border: 1px solid #488aff;
    background: transparent;
}


ion-button {
    font-weight: 300;
}
.list-md .item-input:last-child{
    border-bottom: none;
}
@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}
