page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  .bar-button-md-primary {

    color: #000000;

}
.content-md {

  color: #000;
  //background-color: #0ccec4;

}
  .slide-zoom {
    height: 100%;
  }
  ion-header{
    color: #000000;
    //background-color: #10847e;
  }
  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
