page-servicedetail {
.cartbutton{
    font-size: 13px;
    background-color:darkorange;
    padding: 10px;
    color: white;

    // border-radius: 12px;
    // box-shadow: 4px 5px 6px darksalmon;
    margin-bottom:5px ;
    float: inline-end;
    float: right;
}
.titleclass div{
    font-size: 1.8rem;
    
}

}
