page-addservice {
    .formlabelicon {
        text-align: center;
        line-height: 2;
        margin-bottom: 0 !important;
        font-size: 22px;
        margin-top: 0px !important;
        margin-right: 0px !important;
        color:var(--color)
}
.select-md {
    padding: 13px 8px 13px 16px;
    width: 100%;
}
}
